.about-activity {
    background-color: #EAEAEA;
    padding-top: 80px;

    &__title {
        @include fsemiBold600;
        font-size: 46px;
        line-height: 63px;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        &-inner {
            &:last-child {
                margin-left: 22px;
            }
        }

        &-text {
            max-width: 560px;
            @include fregular400;
            font-size: 22px;
            line-height: 30px;

            &:first-child {
                margin-bottom: 20px;
            }
        }
    }

    &__advantages {
        margin-top: 50px;
        position: relative;
        z-index: 1;

        &-bunner {
            background-image: url('../images/about-bunner.png');
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            width: 100%;
            border-radius: 30px;
            height: 379px;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        &-card {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #1B1B1B;
            max-width: 260px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 30px;

            &-text {
                text-align: center;
                @include fmedium500;
                font-size: 20px;
                line-height: 27px;
                color: white;
                max-width: 232px;
                margin-top: 18px;
            }
        }
    }

    &__element-right {
        position: absolute;
        right: 0px;
        top: 760px;
        z-index: 0;
    }
}

@media screen and(max-width: 1200px) {
    .about-activity {
        &__element-right {
            display: none;
        }

        &__title {
            font-size: 35px;
            line-height: 48px;
        }

        &__description {
            &-text {
                font-size: 20px;
                line-height: 27px;
            }
        }

        &__advantages {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 80px;

            &-bunner {
                margin-bottom: 80px;
            }

            &-card {
                display: flex;
                max-width: 223px;
                width: 100%;
                padding-top: 35px;
                padding-bottom: 35px;

                &-pic {
                    max-width: 34px;
                    height: 34px;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                }

                &-text {
                    font-size: 17.1273px;
                    line-height: 23px;
                    max-width: 199px;
                    margin-top: 13px;
                }
            }
        }
    }
}

@media screen and(max-width: 980px) {
    .about-activity {
        &__title {
            font-size: 35px;
            line-height: 48px;
            margin-bottom: 40px;
        }

        &__description {
            flex-direction: column;

            &-inner {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0px;
                }

                &:last-child {
                    margin-left: 0px;
                }
            }
        }

        &__advantages {
            &-container {
                flex-wrap: wrap;
                gap: 44px;
                justify-content: space-evenly;
            }

            &-card {
                max-width: 288px;
                width: 100%;

                &-pic {
                    max-width: 44px;
                    width: 100%;
                }

                &-text {
                    font-size: 22.1429px;
                    line-height: 30px;
                    max-width: 259px;
                    margin-top: 17px;
                }
            }
        }
    }
}

@media screen and(max-width: 660px) {
    .about-activity {
        &__title {
            font-size: 30px;
            line-height: 41px;
            margin-bottom: 25px;
        }

        &__description {
            &-text {
                font-size: 18px;
                line-height: 25px;
            }
        }

        &__advantages {
            &-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 17px;
            }

            &-card {
                max-width: 223px;

                &-pic {
                    width: 34px;
                    height: 34px;
                }

                &-text {
                    font-size: 17.1273px;
                    line-height: 23px;
                    max-width: 199px;
                }
            }
        }
    }
}

@media screen and(max-width: 500px) {
    .about-activity {
        &__title {
            font-size: 25px;
            line-height: 34px;
        }

        &__description {
            &_text {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__advantages {
            &-bunner {
                height: 238px;
                border-radius: 30px;
                overflow: hidden;

                &-img {
                    // border-radius: 30px;
                }
            }

            &-container {
                grid-gap: 10.97px;

            }

            &-card {
                padding: 0px;
                max-width: 143.87px;
                height: 104px;
                border-radius: 16.5748px;
                padding-top: 22px;

                &-pic {
                    max-width: 21px;
                    height: 21px;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                }

                &-text {
                    font-size: 11.0499px;
                    line-height: 15px;
                    margin-top: 0px;
                    max-width: 128px;
                    margin-top: 11px;
                }
            }
        }
    }
}