.article {
    padding-bottom: 100px;
    padding-top: 130px;
    overflow: hidden;
    position: relative;
    &__title {
        @include fsemiBold600;
        font-size: 46px;
        line-height: 63px;
        margin-bottom: 10px;
    }
    &__subtitle {
        @include fregular400;
        font-size: 18px;
        line-height: 145%;
        margin-bottom: 34px;
    }
    &__container {
        display: flex;
        gap: 40px;
        position: relative;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &__list {
        &-card {
            width: 360px;
            height: 405px;
            max-width: 360px;
            position: relative;
            border-radius: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            border-radius: 38px;
            overflow: hidden;
            border: 2px solid transparent;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    &__button-wrapper {
        margin-top: 40px;
    }

    &__button {
        // display: flex;
        // align-items: center;
        // cursor: pointer;
        // position: relative;
        // z-index: 10000;
        padding: 12px 20px;
        @include fsemiBold600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
        background-color: $orange;
        border-radius: 10px;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    // &__element-left {
    //     position: absolute;
    //     left: 0px;
    //     top: 600px;
    // }

    // &__element-right {
    //     position: absolute;
    //     top: -170px;
    //     right: 0px;
    // }
}

@media screen and (max-width: 1200px) {
    .article {
        &__element-left {
            display: none;
        }
        &__element-right {
            display: none;
        }
        &__button {
            margin-top: 0px;
            margin-bottom: 5px;
            &-text {
                display: none;
            }
        }
        &__container {
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
            padding-bottom: 20px;
        }
    }
}
@media screen and (max-width: 980px) {
    .article {
        &__button {
            margin-bottom: 0px;
            margin-top: 16px;
        }
        &__container {
            max-width: 618px;
        }
    }
}
@media screen and (max-width: 660px) {
    .article {
        padding-bottom: 30px;
        &__button {
            margin-top: 31px;
        }
        &__container {
            max-width: 459px;
        }
    }
}
@media screen and (max-width: 500px) {
    .article {
        &__button {
            margin-top: 31px;
            margin-left: 7px;
        }
        &__container {
            max-width: 300px;
        }
    }
}
