.blog {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #eaeaea;
    position: relative;
    overflow: hidden;
    &_main {
        padding-top: 0;
    }
    &__title {
        @include fsemiBold600;
        font-size: 46px;
        line-height: 63px;
        color: #121212;
        margin-bottom: 10px;
    }
    &__subtitle {
        @include fregular400;
        font-size: 18px;
        line-height: 145%;
        color: #121212;
        margin-bottom: 35px;
    }

    &__link {
        @include fsemiBold600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
        padding: 12px 20px;
        background-color: #de701d;
        border-radius: 10px;
        display: flex;
        max-width: 140px;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        margin-top: 40px;
        &:hover {
            background-color: #121212;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        position: relative;
        z-index: 2;

        &-card {
            max-width: 360px;
            width: 100%;
            position: relative;
            border-radius: 25px;
            height: 405px;
            display: flex;
            align-items: flex-end;
            border-radius: 20px;
            overflow: hidden;
            border: 2px solid transparent;
            box-sizing: border-box;
            &:hover {
                border: 2px solid #de701d;
            }
            &-img {
                position: absolute;
                z-index: 1;
                width: 110%;
                height: 110%;
                left: -5%;
                top: -5%;
                object-fit: cover;
            }

            &-label {
                position: absolute;
                z-index: 2;
                top: 20px;
                left: 20px;
                font-size: 14px;
                line-height: 19px;
                @include fregular400;
                color: #ffffff;
                padding: 3px 10px;
                border-radius: 5px;
                &-lifehack {
                    background-color: #de701d;
                }
                &-article {
                    background-color: #0f754e;
                }
                &-news {
                    background-color: #2566af;
                }
            }

            &-text {
                position: relative;
                z-index: 3;
                bottom: 0px;
                max-width: 320px;
                font-size: 24px;
                line-height: 33px;
                color: #ffffff;
                @include fmedium500;
                margin-left: 20px;
                margin-bottom: 20px;
            }
        }
    }

    &__element {
        position: absolute;
        height: 993px;
        bottom: -330px;
        right: 0px;
        z-index: 0;
    }
}

@media screen and (max-width: 1200px) {
    .blog {
        &__list {
            grid-gap: 33px;

            &-card {
                max-width: 291px;
                height: 328px;
                width: 100%;

                &-label {
                    top: 16px;
                    left: 16px;
                }

                &-text {
                    font-size: 20px;
                    line-height: 27px;
                    margin-bottom: 16px;
                    margin-left: 16px;
                    max-width: 258px;
                }
            }
        }
        &__element {
            right: -250px;
            bottom: -425px;
        }
    }
}

@media screen and (max-width: 980px) {
    .blog {
        &__title {
            font-size: 33px;
            line-height: 40px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 145%;
        }
        &__list {
            grid-template-columns: 1fr 1fr;
            grid-gap: 19px;
            &-card {
                max-width: 300px;
                height: 338px;
                width: 100%;

                &-label {
                    font-size: 14.4125px;
                    line-height: 20px;
                }

                &-text {
                    font-size: 20.5893px;
                    line-height: 28px;
                    max-width: 266px;
                }
            }
        }
        &__element {
            width: 993px;
            right: -280px;
            bottom: -300px;
        }
    }
}

@media screen and (max-width: 660px) {
    .blog {
        &__title {
            font-size: 28px;
            line-height: 35px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 145%;
        }
        &__list {
            grid-gap: 14px;
            &-card {
                max-width: 223px;
                height: 251px;

                &-label {
                    font-size: 10.7104px;
                    line-height: 15px;
                    padding: 2px 7.5px;
                    top: 12px;
                    left: 12px;
                }

                &-text {
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 12px;
                    margin-left: 12px;
                    max-width: 198px;
                }
            }
        }
        &__element {
            width: 695px;
            bottom: -520px;
            right: -10px;
        }
    }
}

@media screen and (max-width: 500px) {
    .blog {
        &__list {
            grid-gap: 20px;
            grid-template-columns: 1fr;
            &-card {
                max-width: 300px;
                height: 338px;

                &-label {
                    font-size: 14.4125px;
                    line-height: 20px;
                    padding: 3px 10px;
                    top: 16px;
                    left: 16px;
                }

                &-text {
                    font-size: 20.5893px;
                    line-height: 28px;
                    margin-bottom: 16px;
                    margin-left: 16px;
                    max-width: 266px;
                }
            }
        }
        &__element {
            top: 50%;
            bottom: 50%;
            right: -90px;
        }
    }
}
