.catalog-2 {
    background-color: #EAEAEA;
    padding-bottom: 130px;
    position: relative;
    overflow: hidden;
    &__cards {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 40px;
        position: relative;
        z-index: 10;
    }

    &__card {
        position: relative;
        z-index: 10;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        max-width: 260px;
        width: 100%;
        max-height: 260px;
        height: 100%;
        height: 260px;
        color: white;
        box-sizing: border-box;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid #DE701D;
        }

        &:hover &-name {
            color: #DE701D;
        }

        &-img {
            position: absolute;
            background-color: #1B1B1B;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &-all {
            background-color: #1B1B1B;
            display: flex;
            align-items: center;
            justify-content: center;
            @include fmedium500;
            font-size: 20px;
            line-height: 27px;
            max-width: 260px;
            width: 100%;
            max-height: 260px;
            height: 100%;
            padding: 117px 45px;

            &:hover {
                color: #DE701D;
            }
        }

        &-name {
            margin-top: 20px;
            margin-left: 20px;
            position: relative;
            z-index: 10;
            max-width: 207px;
            @include fextraLight200;
            font-size: 20px;
            line-height: 27px;
        }
    }
    &__element{
        position: absolute;
        bottom: -500px; 
        width: 1336px;
        height: 1336px;
        svg{
            width: 100%;
            height: 100%;
        }  
    }
}

@media screen and(max-width: 1200px) {
    .catalog-2 {
        &__cards {
            grid-gap: 32px;
        }

        &__card {
            max-width: 211px;
            height: 211px;

            &-name {
                font-size: 18px;
                line-height: 25px;
            }

            &-all {
                font-size: 18px;
                line-height: 25px;
                padding: 93px 32px;
            }
        }
    }
}

@media screen and(max-width: 980px) {
    .catalog-2 {
        &__cards {
            gap: 28px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__card {
            max-width: 188px;
            max-height: 188px;

            &-name {
                margin-top: 14px;
                margin-left: 14px;
                max-width: 150px;
            }

            &-all {
                padding: 83px 31px;
                white-space: nowrap;
            }
        }
    }
}

@media screen and(max-width: 660px) {
    .catalog-2 {
        &__cards {
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
        }

        &__card {
            max-width: 215px;
            max-height: 215px;

            &-name {
                margin-top: 17px;
                margin-left: 17px;
                max-width: 171px;
            }

            &-all {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &__element{
            bottom: -300px;
        }
    }
}

@media screen and(max-width: 500px) {
    .catalog-2 {
        &__cards {
            gap: 18px;
        }

        &__card {
            max-width: 141px;
            max-height: 141px;

            &-name {
                font-size: 14px;
                line-height: 19px;
            }

            &-name {
                margin-top: 11px;
                margin-left: 11px;
            }

            &-all {
                padding: 61px 16px;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}