.catalog {
    padding-top: 100px;
    background-color: #EAEAEA;
    padding-bottom: 100px;
    &__introduction {
        background-color: #1B1B1B;
        width: 100%;
        border-radius: 25px;
        padding-top: 78px;
        padding-bottom: 78px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin-top: 80px;
        &-title {
            @include fsemiBold600;
            font-size: 24px;
            line-height: 33px;
            border-bottom: 2px solid #DE701D;
            padding-bottom: 6px;
            color: white;
            margin-left: auto;
            margin-right: 130px;
            margin-left: 80px;
        }

        &-text {
            @include fregular400;
            font-size: 18px;
            line-height: 145%;
            max-width: 700px;
            color: white;
            margin-right: 100px;
        }
    }

    &__cards {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    &__card {
        background-color: #1B1B1B;
        border-radius: 25px;
        position: relative;
        display: flex;
        max-width: 260px;
        width: 100%;
        max-height: 260px;
        height: 100%;
        color: white;

        &-all {
            display: flex;
            align-items: center;
            justify-content: center;
            @include fmedium500;
            font-size: 20px;
            line-height: 27px;
            max-width: 260px;
            width: 100%;
            max-height: 260px;
            height: 100%;
            padding: 117px 45px;

        }

        &-name {
            position: absolute;
            top: 20px;
            left: 20px;
            max-width: 207px;
            @include fmedium500;
            font-size: 20px;
            line-height: 27px;
        }

        &-pic {}

        &-img {
            width: 100%;
        }
    }
}

@media screen and(max-width: 1200px) {
    .catalog {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and(max-width: 1160px) {
    .catalog {
        &__cards {
            gap: 32px;
        }

        &__card {
            max-width: 211px;
            max-height: 211px;

            &-name {
                font-size: 18px;
                max-width: 168px;
                top: 16px;
                left: 16px;
                line-height: 25px;
            }

            &-all {
                padding: 93px 35px;
                font-size: 18px;
            }
        }
    }
}

@media screen and(max-width: 959px) {
    .catalog {
        &__introduction {
            &-title {
                margin-left: 30px;
                margin-right: 72px;
                font-size: 22px;
            }

            &-text {
                margin-right: 30px;
                font-size: 16px;
            }
        }

        &__cards {
            gap: 28px;
        }

        &__card {
            max-width: 188px;
            max-height: 188px;

            &-name {
                max-width: 155px;
                font-size: 16px;
                top: 14px;
                left: 14px;
                line-height: 22px;
            }

            &-all {
                padding: 83px 31px;
                font-size: 16px;
            }
        }
    }
}

@media screen and(max-width: 639px) {
    .catalog {
        &__introduction {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &-title {
                margin-left: 25px;
            }

            &-text {
                margin-left: 25px;
                margin-right: 25px;
                margin-top: 29px;
                max-width: 411px;
            }
        }

        &__cards {
            gap: 30px;
        }

        &__card {
            max-width: 215px;
            max-height: 215px;

            &-name {
                top: 17px;
                left: 17px;
            }

            &-all {}
        }
    }
}

@media screen and(max-width: 479px) {
    .catalog {
        &__introduction {
            &-title {
                margin-left: 15px;
            }

            &-text {
                margin-left: 15px;
                margin-right: 10px;
            }
        }

        &__cards {
            gap: 18px;
        }

        &__card {
            max-width: 141px;
            max-height: 141px;
            &-name {
                font-size: 14px;
                line-height: 19px;
                top: 11px;
                left: 11px;
            }

            &-all {
                font-size: 14px;
                padding: 61px 16px;
            }
        }
    }
}

@media screen and(max-width: 360px) {
    .catalog {
        &__introduction {
            &-text {
                margin-left: 15px;
                margin-right: 10px;
                font-size: 14px;
                max-width: 275px;
            }
        }
    }
}