.catalog-main {
    background-color: #121212;
    padding-top: 80px;
    padding-bottom: 80px;

    &__top {
        display: flex;
        justify-content: space-between;

        &-title {
            font-size: 46px;
            line-height: 63px;
            @include fsemiBold600;
            color: white;
        }

        &-link {
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 25px;
            background-color: #DE701D;
            padding: 12px 20px;
            @include fsemiBold600;
            color: white;
            border-radius: 10px;
            transition: 0.5s;

            &:hover {
                background-color: white;
                color: black;
                transition: 0.5s;
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 40px;

        &-card {
            position: relative;
            background-color: white;
            max-width: 260px;
            width: 100%;
            padding-top: 20px;
            border-radius: 20px;
            @include fmedium500;
            border: 2px solid transparent;
            cursor: pointer;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            &:hover {
                border: 2px solid #DE701D;
            }

            &:hover &-name {
                color: #DE701D;
            }

            &-name {
                position: absolute;
                top: 20px;
                left: 30px;
                font-size: 20px;
                line-height: 27px;
                color: black;
            }

            &-pic {
                max-width: 260px;
                display: flex;
                align-items: flex-end;
            }
            &-img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .catalog-main {
        padding-left: 20px;
        padding-right: 20px;

        &__container {
            gap: 32px;
            justify-content: baseline;
            &-card{
                max-width: 211px;
                max-height: 211px;
                &-pic{
                    max-width: 211px;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .catalog-main {
        &__container {
            max-width: 940px;
            width: 100%;
            margin: 0 auto;
            gap: 32px;
            // justify-content: center;
            &-card{
                max-width: 211px;
                max-height: 211px;
                &-pic{
                    max-width: 211px;
                }
            }
        }
    }
}