.goods {}

.pc {
    &__pagination {
        position: relative;
        z-index: 5;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
        max-height: 25px;

        ul {
            display: flex;
            margin-left: 20px;
            margin-right: 20px;
            gap: 10px;
            align-items: center;
            max-height: 25px;
        }

        li {
            max-width: 11px;
            max-height: 25px;
        }

        a,span {
            font-size: 18px;
            line-height: 25px;
            color: #808080;
            @include fregular400;
            
        }
        span.current{
            color: #121212;
        }
    }

    &__card {
        position: relative;
        z-index: 6;
    }

    &__goods {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
}

@media screen and(max-width: 1200px) {
    .pc {
        &__goods {
            grid-gap: 20px;

            .pc__card {
                max-width: 300px;
                min-width: 0px;

                &-wrapper {
                    padding-bottom: 12px;
                    padding-right: 12px;
                    padding-left: 12px;
                    padding-top: 12px;
                }

                &-name {
                    font-size: 18px;
                    line-height: 25px;
                    max-width: 210px;
                }
                &-now-price {
                    font-size: 20px;
                    line-height: 27px;
                }

                &-past-price {
                    font-size: 14px;
                }

                &-buttons {
                    &-buy {
                        font-size: 12px;
                        padding: 8.25px 26.5px;
                        align-items: center;
                        max-width: 133px;
                        height: 34px;
                        white-space: nowrap;

                        &-pic {
                            max-width: 17.5px;
                            max-height: 17.5px;

                            svg {
                                height: 100%;
                            }
                        }
                    }

                    &-more {
                        font-size: 12px;
                        line-height: 16px;
                        padding: 9.17px 32.97px 8.83px 35.03px;
                        display: block;
                        align-items: center;
                        max-width: 133px;
                        height: 34px;
                    }
                }
            }

        }
    }
}

@media screen and(max-width: 980px) {
    .pc {
        &__goods {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and(max-width: 660px) {
    .pc {
        &__goods {
            .pc__card {
                max-width: 220px;

                &-wrapper {
                    padding-bottom: 15px;
                    padding-right: 9px;
                    padding-left: 9px;
                }

                &-number {
                    font-size: 14px;
                    line-height: 14px;
                }

                &-name {
                    font-size: 16px;
                    line-height: 22px;

                }

                &-buttons {
                    &-buy {
                        padding: 10px 12.62px;
                        max-width: 98px;
                        font-size: 12.25px;
                        border-radius: 5px;
                        height: 25px;

                        &-pic {
                            max-width: 17px;
                            max-height: 17px;
                            margin-right: 3px;
                        }
                    }

                    &-more {
                        max-width: 98px;
                        height: 25px;
                        font-size: 12.8px;
                        padding: 10px 23.31px 10px 13.69px;
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                    }
                }
            }
        }

        @media screen and(max-width: 500px) {
            .pc {
                &__goods {
                    grid-gap: 20px;
                    grid-template-columns: 1fr;
                    .pc__card {
                        max-width: 300px;
                        min-width: 0px;

                        &-wrapper {
                            padding-bottom: 12px;
                            padding-right: 12px;
                            padding-left: 12px;
                            padding-top: 12px;
                        }
                        &-name {
                            font-size: 18px;
                            line-height: 25px;
                            max-width: 210px;
                        }
                        &-now-price {
                            font-size: 20px;
                            line-height: 27px;
                        }

                        &-past-price {
                            font-size: 14px;
                        }

                        &-buttons {
                            &-buy {
                                font-size: 12px;
                                padding: 8.25px 26.5px;
                                align-items: center;
                                max-width: 133px;
                                height: 34px;
                                white-space: nowrap;

                                &-pic {
                                    max-width: 17.5px;
                                    max-height: 17.5px;

                                    svg {
                                        height: 100%;
                                    }
                                }
                            }

                            &-more {
                                font-size: 12px;
                                line-height: 16px;
                                padding: 9.17px 32.97px 8.83px 35.03px;
                                display: block;
                                align-items: center;
                                max-width: 133px;
                                height: 34px;
                            }
                        }
                    }

                }
            }
        }
    }
}