.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #EAEAEA;
    position: relative;
    z-index: 2;
    .wrapper{
        max-width: 1160px;
        width: 100%;
    }
    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        margin-left: 39px;

        &-list {
            display: flex;
        }

        &-item {
            margin-left: 20px;

            &:first-child {
                margin-left: 0px;
            }
        }

        &-link {
            color: black;
            @include fregular400;
            font-size: 16px;
            line-height: 22px;

            &:hover {
                color: #DE701D;
            }
        }
    }

    &__user {
        margin-left: auto;
        margin-right: 25px;
        display: flex;
        align-items: center;

        &-icon {
            margin-right: 10px;
            margin-top: 7px;
        }

        &-button {
            display: flex;
            align-items: center;
            @include fregular400;
            font-size: 16px;
            line-height: 22px;
            margin-right: 17px;
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            transition: 0.2s;
            border-radius: 10px;

            &:hover {
                background-color: #C5C5C5;
                transition: 0.2s;
                color: white;
            }
        }

        &-city {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 3;
            padding-right: 25px;
            &-icon {
                margin-right: 5px;
                margin-top: 3px;
            }

            &-svg {
                transition: 0.5s;
            }

            &-item {
                display: inline-block;
                cursor: pointer;
                @include fregular400;
                font-size: 16px;
                line-height: 22px;
                margin-right: 4px;

                &-sublist {
                    position: absolute;
                    z-index: 3;
                    background-color: white;
                    padding-top: 37px;
                    width: 100%;
                    display: none;
                    right: 0px;
                    padding-left: 30px;
                    padding-bottom: 24px;
                    border-radius: 0px 0px 5px 5px;
                    &-item {
                        margin-top: 15px;

                        &:hover {
                            color: #DE701D;
                        }

                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }

    &__interactive {
        display: flex;
        align-items: center;

        &-item {
            cursor: pointer;
            margin-right: 16px;

            &:last-child {
                margin-right: 0px;
            }
        }

        &-search {
            margin-top: 3px;
        }
    }

    &__burger {
        cursor: pointer;
        display: none;
        margin-bottom: 3px;

        span {
            display: block;
            width: 20px;
            height: 2px;
            background-color: black;
            margin-top: 5px;

            &:first-child {
                margin-top: 0px;
            }
        }
    }

    &__catalog {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
        width: 100%;
        background-color: #EAEAEA;
        position: absolute;
        z-index: 1;
        padding-top: 20px;
        padding-bottom: 41px;
        top: -2000%;
        left: 0;
        transition: 0.5s;

        &-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 39px;
            margin: 0 auto;
        }

        &-card {
            background-color: white;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 358px;
            width: 100%;

            &-description {
                max-width: 176px;
                width: 100%;
                color: black;
                margin-left: 30px;
                // margin-left: 30px;
            }

            &-title {
                @include fmedium500;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
            }

            &-subtitle {
                @include flight300;
                font-size: 10px;
                line-height: 14px;
            }
        }
    }
}

.city-active {
    background-color: white;
    max-width: 203px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sublist-active {
    display: block;
}

.catalog-block {
    top: 80px;

    @media screen and (max-width: 639px) {
        top: 120px;
    }

}

.display-none {
    visibility: hidden;
}

.display-block {
    display: block;
}

.transform {
    rotate: 180deg;
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    .header{
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 1160px) {
    .header{
        padding-right: 0px;
        padding-left: 0px;
        .wrapper{
            max-width: 940px;
        }
        &__user{
            margin-right: 18px;
            &-city{
                padding-right: 0px;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .header{
        .wrapper{
            max-width: 620px;
        }
        &__nav{
            display: none;
        }
        &__burger{
            display: block;
            margin-left: 15px;
        }
    }
}

@media screen and (max-width: 640px){
    .header{
        .wrapper{
            max-width: 461px;
        }
        &__container{
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__user{
            order: 4;
            max-width: 100%;
            width: 100%;
            margin-right: 0px;
            border-top: 1px solid black;
            margin-top: 8px;
            padding-top: 12px;
            box-sizing: border-box;
            &-city{
                margin-left: auto;
                padding-right: 0px;
            }
        }
        &__interactive{
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 480px){
    .header{
        .wrapper{
            max-width: 300px;
        }
    }
}