.intro {
    background-color: $body-bcg;
    padding-bottom: 40px;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__img {
        width: 100%;
        border-radius: 25px;
    }

    &__title {
        font-size: 50px;
        line-height: 130%;
        color: white;
        @include fsemiBold600;
        margin-bottom: 15px;
        max-width: 850px;
    }

    &__subtitle {
        font-size: 22px;
        line-height: 30px;
        color: white;
        @include fregular400;
    }

    &__link {
        font-size: 18px;
        line-height: 25px;
        color: white;
        background-color: #ff7400;
        padding: 12px 20px;
        border-radius: 10px;
        display: inline-block;
        box-sizing: border-box;
        margin-top: 25px;
        @include fsemiBold600;
        transition: 0.5s;
        max-width: 205px;
        text-align: center;

        &:hover {
            background-color: white;
            color: black;
            transition: 0.5s;
        }
    }
    .swiper-pagination-bullet {
        background-color: $white;
        width: 10px;
        height: 10px;
    }

    .slide-one {
        background-image: url("../images/intro.jpg");
    }

    .slide-two {
        background-image: url("../images/intro-2.png");
    }

    .slide-three {
        background-image: url("../images/intro-3.jpg");
    }

    .swiper-slider {
        border-radius: 25px;
        height: 660px;
    }

    .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        background-color: #c4c4c4;
    }

    .swiper-pagination {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .intro {
        &__title {
            font-size: 45px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 27px;
        }
    }
}
@media screen and (max-width: 980px) {
    .intro {
        &__title {
            font-size: 38px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 27px;
        }
    }
}

@media screen and (max-width: 660px) {
    .intro {
        &__title {
            font-size: 35px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 27px;
            max-width: 460px;
        }
    }
}

@media screen and (max-width: 500px) {
    .intro {
        &__title {
            font-size: 30px;
            max-width: 300px;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 25px;
            max-width: 250px;
        }

        &__link {
            font-size: 12.4669px;
            line-height: 17px;
            padding: 8px 14px;
        }
    }
    .br-mobile {
        display: block;
    }
}
