*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

.wrapper {
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}
.display-block {
    display: block;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        max-width: 940px;
    }
}

@media screen and (max-width: 980px) {
    .wrapper {
        max-width: 620px;
    }
}

@media screen and (max-width: 660px) {
    .wrapper {
        max-width: 460px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        max-width: 300px;
    }
}
