*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

// h1,
// h2,
// h3,
// h4 {
//     color: $black;
// }

// h1 {
//     @include fsemiBold600;
//     font-size: 50px;
//     line-height: 130%;
// }

// h2 {
//     @include fsemiBold600;
//     font-size: 46px;
//     line-height: 63px;
// }

// h3 {
//     @include fsemiBold600;
//     font-size: 40px;
//     line-height: 130%;
//     text-transform: uppercase;
// }

// h4 {
//     @include fsemiBold600;
//     font-size: 30px;
//     line-height: 130%;
// }
.wrapper{
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}