@font-face {
    font-family: "VelaSans-Regular";
    src: url("../fonts/VelaSans-Regular.eot");
    src: url("../fonts/VelaSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-Regular.woff") format("woff"), url("../fonts/VelaSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VelaSans-Bold";
    src: url("../fonts/VelaSans-Bold.eot");
    src: url("../fonts/VelaSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-Bold.woff") format("woff"), url("../fonts/VelaSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VelaSans-ExtraBold";
    src: url("../fonts/VelaSans-ExtraBold.eot");
    src: url("../fonts/VelaSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-ExtraBold.woff") format("woff"),
        url("../fonts/VelaSans-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VelaSans-ExtraLight";
    src: url("../fonts/VelaSans-ExtraLight.eot");
    src: url("../fonts/VelaSans-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-ExtraLight.woff") format("woff"),
        url("../fonts/VelaSans-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VelaSans-Light";
    src: url("../fonts/VelaSans-Light.eot");
    src: url("../fonts/VelaSans-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-Light.woff") format("woff"), url("../fonts/VelaSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VelaSans-Medium";
    src: url("../fonts/VelaSans-Medium.eot");
    src: url("../fonts/VelaSans-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-Medium.woff") format("woff"), url("../fonts/VelaSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VelaSans-SemiBold";
    src: url("../fonts/VelaSans-SemiBold.eot");
    src: url("../fonts/VelaSans-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/VelaSans-SemiBold.woff") format("woff"), url("../fonts/VelaSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
