header {
    .wrapper {
        margin-top: 25px;
    }

    .inner {
        display: flex;
    }

    .display-flex {
        display: flex;
        justify-content: space-between;
    }

    nav {
        margin-left: 42px;
    }

    li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }

        a {
            color: black;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }

    .information-box {
        margin-right: 20px;

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }

        .inf-text {
            margin-left: 10px;

            &:last-child {
                margin-left: 10px;
            }
        }
    }

    .user-nav {
        margin-left: 45px;

        .user-pic {
            &:last-child {
                margin-left: 16px;
            }
        }
    }
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding: 0px 20px;
    }
}